body {
  font-family: "tradegothicltstd", sans-serif;

  .dashboard-main-wrapper {
    max-width: 1400px;
    padding: 0;

    aside {
      display: none;
    }

    .dashboard-main-container {
      .accordion {
        .card {
          border: none;

          .card-header {
            background-color: #ffffff;
            border: none;

            h1 {
              img {
                height: 15px;
              }

              
              .accordion-button {
                font-size: 2rem;
                color: gray;
                padding-left: 0;
                text-decoration: none;
                
                &:hover {
                  text-decoration: none;
                }
              }

              .init-red {
                color: #c3002f;
              }
            }

            p {
              margin-left: 20px;
            }
          }

          .button-persist {
            margin-bottom: 2rem;
            margin-left: 20px;
            padding-left: 20px;
            padding-right: 20px;

            button {
              background-color: #c3002f;
              padding: 0px 30px;
              border-radius: 25px;
              border: none;
              color: #ffffff;
              width: 130px;
              height: 24px;

              p {
                padding-top: 4px;
                margin: 0;
                font-size: 0.8rem;
              }
            }
          }
          .leader-slide {
            .card-body {
              .ranking {
                .scores {
                  margin-top: 2rem;
                }
                ul {
                  list-style-type: none;
                  max-width: 450px;

                  li {
                    border-top: none;
                    border-right: none;
                    border-bottom: 2px solid black;
                    border-left: none;
                    padding: 10px;
                  }

                  .leaderboard-title {
                    font-weight: bold;
                  }

                  .leaderboard {
                    font-size: 0.8em;
                  }
                }
              }
            }
          }

          #collapseThree {
            margin-bottom: 20px;

            .module-2,
            .module-3 {
              display: none;
            }

            .card {
              color: #ffffff;
              border-radius: 0;
              border: none !important;
              width: 19.5rem;

              .module-details {
                background-image: url("../images/module-background-red.png");
                background-size: cover;
                background-repeat: no-repeat;
                padding-bottom: 5rem;

                p {
                  width: 85%;
                }

                button {
                  border: 1px solid white;
                  background-color: #c3002f;
                  border-radius: 25px;
                  color: white;
                  padding: 5px 15px 3px 15px;
                }
              }

              .blank {
                height: 5px;
                background-color: white;
                border: none !important #c3002f;
              }

              .score-info {
                background-color: white;
                color: #c3002f;
                border: 1px solid #c3002f;
                padding-top: 5px;
                padding-bottom: 5px;
                p {
                  margin: 0;
                }
              }
            }
          }

          #collapseFour {
            .card-body {
              .thumbnails {
                padding: 0;
                list-style-type: none;

                .span4 {
                  .thumbnail {
                    .img-wrapper {
                      height: 150px;
                      width: 150px;
                    }

                    p {
                      margin-top: 0.75rem;
                    }

                    h5 {
                      margin-bottom: 0.75rem;
                    }
                  }
                }
                .knife,
                .backpack,
                .multi-tool {
                  display: none;
                }

                button {
                  background-color: #ffffff;
                  padding: 0px 30px;
                  border-radius: 25px;
                  border: 1px solid #c3002f;
                  color: #ffffff;
                  width: 150px;

                  p {
                    padding-top: 4px;
                    color: #c3002f;
                    margin: 0;
                    font-size: 0.8rem;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: 550px) {
  body {
    .dashboard-main-wrapper {
      .dashboard-main-container {
        .accordion {
          .card {
            #collapseFour {
              .card-body {
                .thumbnails {
                  .knife {
                    display: block;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: 768px) {
  body {
    .dashboard-main-wrapper {
      .dashboard-main-container {
        .accordion {
          .card {
            #collapseThree {
              margin: 0 auto 20px auto;

              .card {
                margin-left: 10px;
                margin-right: 10px;
                display: inline-block;
              }

              .module-3 {
                display: none;
              }
            }

            #collapseFour {
              .card-body {
                .thumbnails {
                  .backpack {
                    display: block;
                  }
                }
              }
            }

            .leader-slide {
              .card-body {
                .ranking {
                  ul {
                    margin-left: 40px;
                  }
                }
              }
            }
            .button-persist {
              padding-right: 90px;

              p {
                margin-bottom: 0;
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: 992px) {
  body {
    .dashboard-main-wrapper {
      display: flex;

      aside {
        display: flex;
        background-color: #c3002f;
        min-height: 100vh;

        .alignment {
          width: 105px;
          margin: 0 auto;

          a {
            display: block;
            width: 100%;
            text-decoration: none;
            color: #ffffff;
            margin-top: 1rem;

            &:hover {
              text-decoration: underline;
            }
          }

          .dashboard {
            margin-top: 0;
            padding-top: 2rem;
          }
        }
      }

      .dashboard-main-container {
        .accordion {
          .card {
            .card-header {
              img {
                height: 30px !important;
                // width: 50px;
              }

              h1 {
                .accordion-button {
                  font-size: 4.5rem;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: 1200px) {
  body {
    .dashboard-main-wrapper {
      .dashboard-main-container {
        .accordion {
          .card {
            #collapseFour {
              .card-body {
                .thumbnails {
                  .multi-tool {
                    display: block;
                  }
                }
              }
            }

            .leader-slide {
              .card-body {
                

                .ranking {
                  display: flex;
                  ul {
                    display: inline-block;
                    width: 400px;
                  }

                  .leaders {
                    margin-right: 5rem;
                  }

                  .scores {
                    margin-top: 0 !important;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: 1300px) {
  body {
    .dashboard-main-wrapper {
      .dashboard-main-container {
        .accordion {
          .card {
            #collapseThree {
              .module-3 {
                display: inline-block;
              }
            }
          }
        }
      }
    }
  }
}
