@font-face {
    font-family: tradegothicltstd;
    src:  url('../fonts/TradeGothicLTStd.otf') format('woff2'),
    url('../fonts/TradeGothicLTStd.otf') format('woff');
}

@font-face {
    font-family: tradegothicltstdbold;
    src:  url('../fonts/TradeGothicLTStd-Bd2Obl.otf') format('woff2'),
    url('../fonts/TradeGothicLTStd-Bd2Obl.otf') format('woff');
}


