body {
  font-family: 'tradegothicltstd', sans-serif;
}

.footer-wrapper {
  width: 100%;

  nav {
    background-color: white !important;
    max-width: 1400px;
    margin: 0 auto;

    .navbar-brand {
      color: #000000;
      font-size: 1em;
      margin-right: 0.4em;
    }
    
    .brand-text {
      margin: 0;
      font-size: 1.3rem;
      font-family: 'tradegothicltstdbold', sans-serif;
      margin-top: 6px;
    }

    #navbarSupportedContent {
      .navbar-nav {
        margin-left: 5px;

        .nav-item {
          margin-left: 5px;
          margin-right: 5px;
          padding: 0;
          font-size: .9rem;

          .nav-link {
            color: #000000;

            &:hover {
              color: gray;
            }
          }
        }
      }

      a {
        img {
          margin-left: 13px;
        }
      }
    }
  }
}

@media screen and (min-width: 992px) {
  .nav-border {
    border: 1px solid black !important;
    border-radius: 25px;
    height: 20px;
    width: 150px;
    margin-left: 10px;

    a{
      padding-top: 4px;
      padding-bottom: 0;
      text-align: center;
      font-size: .6rem;
    }
  }
}

@media screen and (min-width: 1200px) {
  body {
    .footer-wrapper {
      nav {
        #navbarSupportedContent {
          .standard-links {
            .nav-item {
              margin-left: 25px;
              margin-right: 25px;
            }
          }

          .blog-visit {
            .nav-border {
              margin-left: 25px;
            }
          }
        }
      }
    }
  }
}


