.footer-wrapper {
  width: 100%;

  nav {
    background-color: white !important;
    max-width: 1400px;
    margin: 0 auto;
    font-family: Trade Gothic LT Std;

    .navbar-brand {
      color: #000000;
      font-size: 1em;
      margin-right: 0.4em;
    }
    .brand-text {
      margin: 0;
      font-size: 1.3rem;
    }

    #navbarFooterContent {
      .navbar-nav {
        .nav-item {
          margin-left: 8px;
          margin-right: 8px;
          padding: 0;
          font-size: .9rem;

          .nav-link {
            color: #000000;

            &:hover {
              color: gray;
            }
          }
        }
      }

      a {
        img {
          margin-left: 13px;
        }
      }
    }
  }
}
@media screen and (min-width: 1200px) {
  .nav-border {
          border: 1px solid black !important;
          border-radius: 25px;
          // font-size: .9rem;
          height: 20px;
          width: 150px;

          a{
            padding-top: 2px;
            padding-bottom: 0;
            text-align: center;
            font-size: .6rem;
          }
        }
}

