.header-wrapper {
  width: 100%;

  nav {
    background-color: white !important;
    max-width: 1400px;
    margin: 0 auto;
    font-family: tradegothicltstd, sans-serif;

    .navbar-brand {
      color: #000000;
      font-size: 1em;
      margin-right: 0.4em;
    }
    .brand-text {
      margin: 0;
      font-size: 1.3rem;
      font-family: 'tradegothicltstdbold', sans-serif;
      margin-top: 6px;
    }

    #navbarSupportedContent {
      .navbar-nav {
        .nav-item {
          margin-left: 8px;
          margin-right: 8px;
          padding: 0;
          font-size: .9rem;

          .nav-link {
            color: #000000;

            &:hover {
              color: gray;
            }
          }
        }
      }

      a {
        img {
          margin-left: 13px;
        }
      }
    }
  }
}
