body {
  font-family: "tradegothicltstd", sans-serif;

  .dashboard-wrapper {
    max-width: 1400px;

    aside {
      display: none;
    }

    .dashboard-container {
    }
  }
}

@media (min-width: 992px) {
  body {
    .dashboard-wrapper {
      aside {
        display: block;
        background-color: #c3002f;
        height: 100vh;

        .alignment {
          width: 105px;
          margin: 0 auto;

          a {
            display: block;
            width: 100%;
            text-decoration: none;
            color: #ffffff;
            margin-top: 1.5rem;

            &:hover {
              text-decoration: underline;
            }
          }

          .dashboard {
            margin-top: 0;
            padding-top: 2rem;
          }
        }
      }
    }
  }
}
