body {
  font-family: "tradegothicltstd", sans-serif;

  .training-wrapper {
    max-width: 1400px;

    aside {
      display: none;
    }

    .training-container {
        font-family: "tradegothicltstd", sans-serif;
        
      h1 {
        color: #c3002f;
        margin-top: 1em;
        font-size: 2rem;
      }

      .training-modules {
        .card {
          color: #ffffff;
          border-radius: 0;
          border: none !important;
          width: 325px;
          margin: 20px 15px 20px 0;

          .module-details {
            background-image: url("../images/Group 152@2x.png");
            background-size: cover;
            background-repeat: no-repeat;
            padding-bottom: 5rem;
            width: 327px;
            height: 367px;

            .module-number {
              margin-bottom: 2rem; 
            }
            

            p {
              width: 85%;
              line-height: 1.1;
            }

            button {
              border: 1px solid white;
              background-color: #c3002f;
              border-radius: 25px;
              color: white;
              padding: 5px 15px 3px 15px;

              &:hover {
                color: #c3002f;
                background-color: #ffffff;
                border: 1px solid white;
              }
            }
          }

          .locked {
            background-image: url("../images/training-mod-bgd-gray@2x.png");

            h5 {
              margin-bottom: 1rem;
            }

            img {
              position: absolute;
              height: 75px;
              top: 59%;
              left: 19%;
            }
          }

          .blank {
            height: 5px;
            background-color: white;
            border: none !important #c3002f;
          }

          .score-info {
            background-color: white;
            color: #c3002f;
            border: 1px solid #c3002f;
            padding-top: 5px;
            padding-bottom: 5px;
            height: 74px;
            p {
              margin: 0;
            }
          }

          .score-info-locked {
            position: relative;
            background-color: white;
            color: #717271;
            border: 1px solid #717271;
            padding-top: 5px;
            padding-bottom: 5px;
            height: 74px;

            p {
              margin: 0;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 768px) {
  body {
    .training-wrapper {
      .training-container {
        margin-left: 40px;

        .training-modules {
          flex-flow: row wrap;
        }
      }
    }
  }
}

@media (min-width: 992px) {
  body {
    .training-wrapper {
      display: flex;
      padding: 0;

      .training-container {
        margin-left: 50px;
      }

      aside {
        display: flex;
        background-color: #c3002f;
        min-height: 100vh;

        .alignment {
          width: 105px;
          margin: 0 auto;

          a {
            display: block;
            width: 100%;
            text-decoration: none;
            color: #ffffff;
            margin-top: 1.5rem;

            &:hover {
              text-decoration: underline;
            }
          }

          .dashboard {
            margin-top: 0;
            padding-top: 2rem;
          }
        }
      }
    }
  }
}
