body {
  font-family: "tradegothicltstd", sans-serif; }
  body .dashboard-main-wrapper {
    max-width: 1400px;
    padding: 0; }
    body .dashboard-main-wrapper aside {
      display: none; }
    body .dashboard-main-wrapper .dashboard-main-container .accordion .card {
      border: none; }
      body .dashboard-main-wrapper .dashboard-main-container .accordion .card #collaspeOne {
        margin-top: 1rem;
        margin-bottom: 1rem; }
      body .dashboard-main-wrapper .dashboard-main-container .accordion .card .card-header {
        background-color: #ffffff;
        border: none; }
        body .dashboard-main-wrapper .dashboard-main-container .accordion .card .card-header h1 img {
          height: 17px;
          margin-bottom: 7px;
          transition: all 0.3s ease-in-out 0s; }
          body .dashboard-main-wrapper .dashboard-main-container .accordion .card .card-header h1 img:hover {
            transition: all 0.3s ease-in-out 0s; }
        body .dashboard-main-wrapper .dashboard-main-container .accordion .card .card-header h1 .accordion-button {
          font-size: 2rem;
          color: gray;
          padding-left: 0;
          text-decoration: none; }
          body .dashboard-main-wrapper .dashboard-main-container .accordion .card .card-header h1 .accordion-button:hover {
            text-decoration: none; }
        body .dashboard-main-wrapper .dashboard-main-container .accordion .card .card-header p {
          margin-left: 20px;
          margin-top: -10px;
          margin-bottom: 0; }
      body .dashboard-main-wrapper .dashboard-main-container .accordion .card .button-persist {
        margin: 1rem 0 2rem 20px;
        padding-left: 20px;
        padding-right: 20px; }
        body .dashboard-main-wrapper .dashboard-main-container .accordion .card .button-persist p #points {
          color: #c3002f; }
        body .dashboard-main-wrapper .dashboard-main-container .accordion .card .button-persist button {
          background-color: #c3002f;
          padding: 0px 30px;
          border-radius: 25px;
          border: none;
          color: #ffffff;
          width: 132px;
          height: 24px; }
          body .dashboard-main-wrapper .dashboard-main-container .accordion .card .button-persist button:hover {
            background-color: #ffffff;
            color: #c3002f;
            border: solid 1px #c3002f; }
          body .dashboard-main-wrapper .dashboard-main-container .accordion .card .button-persist button p {
            padding-top: 4px;
            margin: 0;
            font-size: 0.8rem; }
      body .dashboard-main-wrapper .dashboard-main-container .accordion .card .leader-slide .card-body .ranking .scores {
        margin-top: 2rem; }
      body .dashboard-main-wrapper .dashboard-main-container .accordion .card .leader-slide .card-body .ranking ul {
        list-style-type: none;
        max-width: 400px; }
        body .dashboard-main-wrapper .dashboard-main-container .accordion .card .leader-slide .card-body .ranking ul li {
          border-top: none;
          border-right: none;
          border-bottom: 2px solid black;
          border-left: none;
          padding: 10px; }
        body .dashboard-main-wrapper .dashboard-main-container .accordion .card .leader-slide .card-body .ranking ul .leaderboard-title {
          font-weight: bold; }
        body .dashboard-main-wrapper .dashboard-main-container .accordion .card .leader-slide .card-body .ranking ul .leaderboard {
          font-size: 0.8em; }
      body .dashboard-main-wrapper .dashboard-main-container .accordion .card #headingTwo {
        padding-bottom: 0; }
      body .dashboard-main-wrapper .dashboard-main-container .accordion .card #collapseThree {
        margin-bottom: 20px; }
        body .dashboard-main-wrapper .dashboard-main-container .accordion .card #collapseThree .module-2,
        body .dashboard-main-wrapper .dashboard-main-container .accordion .card #collapseThree .module-3 {
          display: none; }
        body .dashboard-main-wrapper .dashboard-main-container .accordion .card #collapseThree .card {
          color: #ffffff;
          border-radius: 0;
          border: none !important;
          margin-left: 20px;
          width: 19.5rem; }
          body .dashboard-main-wrapper .dashboard-main-container .accordion .card #collapseThree .card .module-details {
            background-image: url("../images/module-background-red.png");
            background-size: cover;
            background-repeat: no-repeat;
            padding-bottom: 5rem; }
            body .dashboard-main-wrapper .dashboard-main-container .accordion .card #collapseThree .card .module-details p {
              width: 85%; }
            body .dashboard-main-wrapper .dashboard-main-container .accordion .card #collapseThree .card .module-details button {
              border: 1px solid white;
              background-color: #c3002f;
              border-radius: 25px;
              color: white;
              padding: 5px 15px 3px 15px; }
              body .dashboard-main-wrapper .dashboard-main-container .accordion .card #collapseThree .card .module-details button:hover {
                color: #c3002f;
                background-color: #ffffff;
                border: 1px solid white; }
          body .dashboard-main-wrapper .dashboard-main-container .accordion .card #collapseThree .card .blank {
            height: 5px;
            background-color: white;
            border: none !important #c3002f; }
          body .dashboard-main-wrapper .dashboard-main-container .accordion .card #collapseThree .card .score-info {
            background-color: white;
            color: #c3002f;
            border: 1px solid #c3002f;
            padding-top: 5px;
            padding-bottom: 5px; }
            body .dashboard-main-wrapper .dashboard-main-container .accordion .card #collapseThree .card .score-info p {
              margin: 0; }
      body .dashboard-main-wrapper .dashboard-main-container .accordion .card #collapseFour .card-body .thumbnails {
        padding: 0;
        list-style-type: none; }
        body .dashboard-main-wrapper .dashboard-main-container .accordion .card #collapseFour .card-body .thumbnails .span4 .thumbnail .img-wrapper {
          height: 150px;
          width: 150px; }
        body .dashboard-main-wrapper .dashboard-main-container .accordion .card #collapseFour .card-body .thumbnails .span4 .thumbnail p {
          margin-top: 0.75rem; }
        body .dashboard-main-wrapper .dashboard-main-container .accordion .card #collapseFour .card-body .thumbnails .span4 .thumbnail h5 {
          margin-bottom: 0.75rem; }
        body .dashboard-main-wrapper .dashboard-main-container .accordion .card #collapseFour .card-body .thumbnails .span4 .button {
          background-color: #ffffff;
          padding: 0px 30px;
          border-radius: 25px;
          border: 1px solid #c3002f;
          width: 150px; }
          body .dashboard-main-wrapper .dashboard-main-container .accordion .card #collapseFour .card-body .thumbnails .span4 .button:hover {
            background-color: #c3002f; }
            body .dashboard-main-wrapper .dashboard-main-container .accordion .card #collapseFour .card-body .thumbnails .span4 .button:hover p {
              color: white; }
          body .dashboard-main-wrapper .dashboard-main-container .accordion .card #collapseFour .card-body .thumbnails .span4 .button p {
            padding-top: 4px;
            color: #c3002f;
            margin: 0;
            font-size: 0.8rem; }
        body .dashboard-main-wrapper .dashboard-main-container .accordion .card #collapseFour .card-body .thumbnails .knife,
        body .dashboard-main-wrapper .dashboard-main-container .accordion .card #collapseFour .card-body .thumbnails .backpack,
        body .dashboard-main-wrapper .dashboard-main-container .accordion .card #collapseFour .card-body .thumbnails .multi-tool {
          display: none; }

@media (min-width: 550px) {
  body .dashboard-main-wrapper .dashboard-main-container .accordion .card #collapseOne, body .dashboard-main-wrapper .dashboard-main-container .accordion .card #collapseTwo, body .dashboard-main-wrapper .dashboard-main-container .accordion .card #collapseThree, body .dashboard-main-wrapper .dashboard-main-container .accordion .card #collapseFour {
    margin-top: 1rem;
    margin-bottom: 1rem; }
  body .dashboard-main-wrapper .dashboard-main-container .accordion .card #collapseThree .card {
    margin-left: 40px; }
  body .dashboard-main-wrapper .dashboard-main-container .accordion .card #collapseFour .card-body .thumbnails .knife {
    display: block; } }

@media (min-width: 768px) {
  body .dashboard-main-wrapper .dashboard-main-container .accordion .card .card-header h1 .accordion-button {
    font-size: 3.5rem; }
  body .dashboard-main-wrapper .dashboard-main-container .accordion .card .card-header h1 img {
    height: 25px;
    margin-bottom: 15px;
    margin-right: 10px; }
  body .dashboard-main-wrapper .dashboard-main-container .accordion .card .card-header p {
    margin-left: 54px;
    margin-top: -20px;
    margin-bottom: 10px; }
  body .dashboard-main-wrapper .dashboard-main-container .accordion .card #collapseThree {
    margin: 1rem auto 1rem auto; }
    body .dashboard-main-wrapper .dashboard-main-container .accordion .card #collapseThree .card {
      margin-left: 10px;
      margin-right: 10px;
      display: inline-block; }
    body .dashboard-main-wrapper .dashboard-main-container .accordion .card #collapseThree .module-3 {
      display: none; }
  body .dashboard-main-wrapper .dashboard-main-container .accordion .card .button-persist p {
    margin-left: 35px;
    margin-right: 50px; }
  body .dashboard-main-wrapper .dashboard-main-container .accordion .card #collapseFour .card-body .thumbnails .backpack {
    display: block; }
  body .dashboard-main-wrapper .dashboard-main-container .accordion .card .leader-slide .card-body .ranking ul {
    margin-left: 40px; }
  body .dashboard-main-wrapper .dashboard-main-container .accordion .card .button-persist {
    padding-right: 90px; }
    body .dashboard-main-wrapper .dashboard-main-container .accordion .card .button-persist p {
      margin-bottom: 0; } }

@media (min-width: 992px) {
  body .dashboard-main-wrapper {
    display: flex; }
    body .dashboard-main-wrapper aside {
      display: flex;
      background-color: #c3002f;
      min-height: 100vh; }
      body .dashboard-main-wrapper aside .alignment {
        width: 105px;
        margin: 0 auto; }
        body .dashboard-main-wrapper aside .alignment a {
          display: block;
          width: 100%;
          text-decoration: none;
          color: #ffffff;
          margin-top: 1.5rem; }
          body .dashboard-main-wrapper aside .alignment a:hover {
            text-decoration: underline; }
        body .dashboard-main-wrapper aside .alignment .dashboard {
          margin-top: 0;
          padding-top: 2rem; }
    body .dashboard-main-wrapper .dashboard-main-container .accordion .card .card-header img {
      height: 30px !important; }
    body .dashboard-main-wrapper .dashboard-main-container .accordion .card .card-header h1 .accordion-button {
      font-size: 4.5rem; }
    body .dashboard-main-wrapper .dashboard-main-container .accordion .card .card-header p {
      margin-left: 64px;
      margin-top: -30px; }
    body .dashboard-main-wrapper .dashboard-main-container .accordion .card .button-persist p {
      margin-left: 46px; } }

@media (min-width: 1200px) {
  body .dashboard-main-wrapper .dashboard-main-container .accordion .card .card-header h1 img {
    height: 40px !important;
    margin-bottom: 17px;
    margin-right: 10px; }
  body .dashboard-main-wrapper .dashboard-main-container .accordion .card .card-header p {
    margin-left: 75px; }
  body .dashboard-main-wrapper .dashboard-main-container .accordion .card .button-persist p {
    margin-left: 55px; }
  body .dashboard-main-wrapper .dashboard-main-container .accordion .card #collapseFour .card-body .thumbnails .multi-tool {
    display: block; }
  body .dashboard-main-wrapper .dashboard-main-container .accordion .card .leader-slide .card-body .ranking {
    display: flex; }
    body .dashboard-main-wrapper .dashboard-main-container .accordion .card .leader-slide .card-body .ranking ul {
      display: inline-block;
      width: 350px; }
    body .dashboard-main-wrapper .dashboard-main-container .accordion .card .leader-slide .card-body .ranking .leaders {
      margin-right: 3rem;
      margin-left: 67px; }
    body .dashboard-main-wrapper .dashboard-main-container .accordion .card .leader-slide .card-body .ranking .scores {
      margin-top: 0 !important; } }

@media (min-width: 1300px) {
  body .dashboard-main-wrapper .dashboard-main-container .accordion .card #collapseThree .module-3 {
    display: inline-block; }
  body .dashboard-main-wrapper .dashboard-main-container .accordion .card .leader-slide .card-body .ranking ul {
    width: 400px; }
  body .dashboard-main-wrapper .dashboard-main-container .accordion .card .leader-slide .card-body .ranking .leaders {
    margin-right: 3rem; }
  body .dashboard-main-wrapper .dashboard-main-container .accordion .card .leader-slide .card-body .ranking .scores {
    margin-top: 0 !important; } }

.opened-arrow {
  transform: rotate(90deg); }

.closed-arrow {
  transform: rotate(0deg); }

.opened-color {
  color: #c3002f !important; }

.closed-color {
  color: gray; }
