@font-face {
  font-family: tradegothicltstd;
  src: url("../fonts/TradeGothicLTStd.otf") format("woff2"), url("../fonts/TradeGothicLTStd.otf") format("woff"); }

@font-face {
  font-family: tradegothicltstdbold;
  src: url("../fonts/TradeGothicLTStd-Bold.otf") format("woff2"), url("-Bold.otf") format("woff"); }
