body {
  font-family: "tradegothicltstd", sans-serif; }
  body h1 {
    font-family: "tradegothicltstdbold", sans-serif;
    color: #c3002f;
    margin-top: 1.5rem;
    margin-bottom: 0; }
  body .dashboard-wrapper {
    padding: 0;
    max-width: 1400px; }
    body .dashboard-wrapper aside {
      display: none; }
    body .dashboard-wrapper .dashboard-container .top-details p {
      margin-bottom: .2rem;
      line-height: 1rem; }
    body .dashboard-wrapper .dashboard-container .top-details p:last-child {
      margin-bottom: .7rem; }
    body .dashboard-wrapper .dashboard-container .mod-bckg {
      max-width: 1060px;
      padding: 10px;
      color: #ffffff;
      background-image: url("../images/module-blue.png");
      background-position: left;
      background-size: cover; }
    body .dashboard-wrapper .dashboard-container .mod-controls {
      margin: 1.5rem;
      max-width: 1010px; }
      body .dashboard-wrapper .dashboard-container .mod-controls .back {
        height: 30px; }
        body .dashboard-wrapper .dashboard-container .mod-controls .back a {
          height: 25px;
          width: 25px; }
          body .dashboard-wrapper .dashboard-container .mod-controls .back a .back-arrow {
            display: inline-block;
            height: 25px;
            width: 25px;
            background-image: url("../images/user-flow-arrow-back-black@2x.png");
            background-size: cover; }
            body .dashboard-wrapper .dashboard-container .mod-controls .back a .back-arrow:hover {
              background-image: url("../images/user-flow-back-arrow-purple@2x.png"); }
      body .dashboard-wrapper .dashboard-container .mod-controls .next a .next-arrow {
        display: inline-block;
        height: 25px;
        width: 25px;
        background-image: url("../images/user-flow-arrow-horizontal-black@2x.png");
        background-size: cover; }
        body .dashboard-wrapper .dashboard-container .mod-controls .next a .next-arrow:hover {
          background-image: url("../images/user-flow-next-arrow-purple@2x.png"); }
      body .dashboard-wrapper .dashboard-container .mod-controls img {
        height: 25px; }
      body .dashboard-wrapper .dashboard-container .mod-controls span {
        position: relative;
        bottom: 21%;
        margin-left: 5px;
        margin-right: 5px; }
      body .dashboard-wrapper .dashboard-container .mod-controls .play-button {
        transition: transform .2s; }
        body .dashboard-wrapper .dashboard-container .mod-controls .play-button:hover {
          transform: scale(1.2);
          transition: transform .2s; }
      body .dashboard-wrapper .dashboard-container .mod-controls .next img:hover {
        color: purple; }
    body .dashboard-wrapper .dashboard-container .bottom-bar {
      border: 1px solid black;
      height: 15px;
      width: 100%;
      margin: 5px auto; }

@media (min-width: 992px) {
  body .dashboard-wrapper aside {
    display: block;
    background-color: #c3002f;
    height: 100vh; }
    body .dashboard-wrapper aside .alignment {
      width: 105px;
      margin: 0 auto; }
      body .dashboard-wrapper aside .alignment a {
        display: block;
        width: 100%;
        text-decoration: none;
        color: #ffffff;
        margin-top: 1.5rem; }
        body .dashboard-wrapper aside .alignment a:hover {
          text-decoration: underline; }
      body .dashboard-wrapper aside .alignment .dashboard {
        margin-top: 0;
        padding-top: 2rem; } }
